<div class="row">
    <div class="col-lg-3">
        <h2>Create a Poll</h2>
    </div>
</div>
<div class="row" ng-controller="CreatePollController">
    <div class="col-lg-12">
        <div class="well bs-component col-lg-9">
            <p>Currently, we support only polls with a single question.</p>
            <div class="form-group">
                <label class="control-label col-lg-2">Enter your question:</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="3" ng-model="question.text"></textarea>
                </div>
            </div>
            <div ng-repeat="option in question.options" class="form-group">
                <div class="col-lg-10">
                    <label class="control-label col-lg-2">{{option.label}}</label>
                    <input type="text" ng-model="option.text" />
                    <button>
                        <i ng-click="removeOption(option.label)" class="glyphicon glyphicon-remove-sign"></i>
                    </button>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="addOption()">Add Answer Option</button>
            <button class="btn btn-warning" ng-click="saveQuestion()">Save Question</button>
        </div>
    </div>
</div>
