<div class="row" ng-controller="ParticipateController">
    <div class="col-sm-3">
        <h2>Participate in a Poll</h2>
    </div>
    <div class="col-sm-9" ng-if="user.auth">
        <div ng-hide="current.poll">
            <p>Available polls</p>
            <ul>
                <li ng-repeat="poll in polls">
                    <a href="" ng-click="selectPoll(poll)">{{poll.text}}</a>
                </li>
            </ul>
        </div>

        <div ng-show="current.poll">
            <div class="col-sm-offset-8 col-sm-4">
                <button ng-click="current.poll=null">Back to list of polls</button>
            </div>
            <form role="form" class="col-sm-8">
                <fieldset>
                    <legend>{{ current.poll.text }}</legend>
                    <div class="form-group" 
                         ng-repeat="option in current.poll.options">
                            <input type="radio" 
                                ng-model="myvote.voted" 
                                ng-value="option.label">
                                {{option.label}} - {{option.text}}
                            </input>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
