<!DOCTYPE html>
<html ng-app="StrawPollApp" ng-controller="MainController" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="A straw poll system">
    <meta name="author" content="Godmar Back">

    <title>Straw Poll App</title>

    <script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap-flatly.css" rel="stylesheet">
    <link href="css/custom-flatly.min.css" rel="stylesheet">
    <link href="css/navbar.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <!-- Static navbar -->
      <nav ng-controller="NavController" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Straw Polls</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
             <ul class="nav navbar-nav">
              <li ng-repeat="item in navtargets.always" ng-class="{ active : location.path() == item.path }">
                    <a href="#{{item.path}}">{{item.label}}</a>
              </li>
            </ul>
            <ul class="nav navbar-nav" ng-if="user.auth">
              <li ng-repeat="item in navtargets.topbar" ng-class="{ active : location.path() == item.path }">
                    <a href="#{{item.path}}">{{item.label}}</a>
              </li>
            </ul>

            <ul ng-if="user.auth" class="nav navbar-nav">
                <li ng-repeat="item in navtargets.rightbar" 
                    ng-class="{ active : location.path() == item.path }">
                    <a href="#{{item.path}}">{{item.label}}</a>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="user.auth" ng-class="{ active : location.path() == '/login' }">
                    <a href="#/login">Login</a>
                </li>
                <li ng-show="user.auth"> 
                    <a href="#" ng-click="logout()">Logout</a>
                </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    <div class="container" ng-view></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-sanitize.min.js"></script>
    <script src="js/angularfire.min.js"></script>
    <script src="js/ng-google-chart.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
